.trade-form {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.trade-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 16px;
}
.form-group label {
  display: block;
  font-weight: 600;
}

.form-group select,
.form-group textarea {
  padding:10px;
  font-size:16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-group textarea {
  min-height: 120px;
  min-width: 460px;
}

.preview-box {
  margin-top: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fafafa;
}